[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=172.31.32.59
Environment=CATALOGUE_HOST=172.31.39.5
Environment=CATALOGUE_PORT=8080
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target